body {
  color: #40514e;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #66bfbf;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: #66bfbf;
  font-size: 3rem;
}

h3 {
  color: #11999e;
}

span {
  color: #11999e;
}

a {
  color: #11999e;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  color: #66bfbf;
  width: 5%;
}

p {
  line-height: 2;
}

hr {
  margin: 5rem auto;
}

.contact-me {
  margin: 40px auto 60px;
  width: 40%;
}

.welcome-text {
  font-weight: normal;
}

.top-container {
  /*background-color: #385170;*/
  background-color: #eaf6f6;
  padding-top: 180px;
  position: relative;
}

.top-middle-container {
  background-color: white;
  margin: 100px auto 100px auto;
  color: #40514e;
}

.bottom-middle-container {
  background-color: #eaf6f6;
  margin: 00px auto 00px auto;
  padding: 2rem;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 0px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 400px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}

.my-name {
  font-family: "Kaushan Script", cursive;
}

.mountain-img {
  margin-bottom: -0.5rem;
  padding-bottom: 0.3rem;
}

.my-image {
  border-radius: 50%;
  height: auto;
  width: 15%;
}
/*
.computer-image {
  border-radius: 50%;
  float: left;
  height: auto;
  margin-bottom: 3rem;
  margin-right: 3rem;
  width: 10%;
}
.checked-png {
  border-radius: 50%;
  float: right;
  margin-left: 3rem;
  width: 10%;
}
.skill-row {
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 3.5rem;
  text-align: left;
  line-height: 2;
}
.work-exp-class {
  text-align: right;
  margin: auto;
}
.work-exp-p {
  padding-top: 1em;
  text-align: right;
  margin: auto;
  width: 50%;
  } */

  .copyright {
    color: #eaf6f6;
    font-size: 0.75em;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
    text-decoration: none;
  }

  .footer-link {
    font-size: 40px;
    color: #fff;
  }

  .project-composition {
    width: 100%;
    margin-top: 3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .project-composition__project {
    margin: 4rem;
    flex: 0 35%;
    width: 100%;
  }

  @media only screen and (max-width: 767px) {

  }

  .project-composition__image {
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--shadow-dark);
    opacity: 0.9;
    transition: all 0.5s;
  }

  .project-composition__image:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  .project-composition__title {
    display: inline;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-grey4);
    font-size: 2.2rem;
  }

  .project-link {
    font-size: 2rem;
    text-decoration: underline;
  }

  .projectImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 65rem;
    width: 30em;
    height: 15em;
  }

  @media only screen and (max-width: 767px) {
    .project-composition__title {
      font-size: 11px;
    }
    .project-composition__instruction {
      font-size: 8px;
    }
    .project-composition__project {
      margin: 5px;
    }


    .project-composition__instruction {
      font-size: 2rem;
    }
  }

  /*----------------- Menu ------------*/
  @media screen and (min-width: 860px) {
    .menu {
      padding: 10px 18px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      background: #303030;
    }
    .projectImage {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 40em;
      height: 22em;
    }
  }

  .menu ul {
    display: inline-block;
  }

  .menu li {
    margin: 0px 50px 0px 0px;
    float: left;
    list-style: none;
    font-size: 17px;
  }

  .menu li:last-child {
    margin-right: 0px;
  }

  .menu a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    transition: color linear 0.15s;
  }

  .menu a:hover,
  .menu .current-item a {
    text-decoration: none;
    color: #66a992;
  }

  /*----- Responsive -----*/
  @media screen and (max-width: 660px) {
    .menu {
      position: relative;
      /* display: inline-block; */
    }

    .menu ul {
      width: 100%;
      position: absolute;
      top: 120%;
      left: 0px;
      padding: 10px 18px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      background: #303030;
    }

    .menu ul:after {
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0%;
      left: 22px;
      content: "";
      transform: translate(0%, -100%);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #303030;
    }

    .menu li {
      margin: 5px 0px 5px 0px;
      flex: auto;
      display: block;
    }

    .menu a {
      display: block;
    }


  }

  @media only screen and (max-width: 440px){
   .my-image {
    border-radius: 50%;
    height: auto;
    width: 35%;
  }
}